PORT=3000
MONGODB_URI=mongodb://rolplay_admin:rolplay_password@localhost:27017/rol_and_play?authSource=admin
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3001
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
MAIL_FROM_NAME=Rol&Play
MAIL_FROM_EMAIL=
